---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}
  <div class="home-profile">
  <img src="assets/profile.jpg" width="200" height="200" alt="Sam Vongsay">
  </div>
  <div class="home-content">
    <h2 class="home-title"> Welcome </h2>
    <p>
       This is where I show the cool (objectively) things I've done or in the process of doing. It can either be something in the realm of software developing or just random hobbies of mine. Please explore with the least amount of expectation you can muster. 
    </p>
  </div>

</div>
